<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Anagrams4eva</title>
    <meta name="description" content=""/>
    {#    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">#}
    {#    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">#}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="">
<div class="container">
  <div class="jumbotron">

    <h1>{{ text }}</h1>
  </div>
</div>
<form name = "MyForm" class="form-inline" align="center" method = "POST" action="">{% csrf_token %}
    {{ form.as_p }}
    <p>{{message}}</p>
<div class="form-group" >
    <label for="text"><h2>Enter text here:</h2></label>
    <input type="text" class="form-control input-lg" id="text" name="userinput">

</div>
    <br/>
    <br/>
    <div class="form-group">

    <input type="submit" class="btn btn-primary btn-lg" value="Submit">

        </div>
</form>



</body>

</html>